{% extends 'base.html' %}

{% block title %} {{ book_detail.title }} {% endblock %}

{% block content %}
    <div class="row mt-3 detail_item">
        <div class="col-3">
            <img class="book_image" src="{{ book_detail.book_image.url }}" alt="">
        </div>

        <div class="col-7 detail_desc">
            <h3>{{ book_detail.name }}</h3>
            <p class="text-muted">{{ book_detail.description }}</p>
            <p>ISBN: {{ book_detail.isbn }}</p>
        </div>
    </div>


{% endblock %}
