{% extends 'base.html' %}

{% block title %} {{ book_detail.title }} {% endblock %}

{% block content %}


<div class="head-div">
  <div class="fixed-image">
      <img class="px-3" width="220" height="300" src="{{ data.book_image.url }}" alt="image">
      <h3>Review this book</h3>
  </div>
  <div class="detail_info">
      <h1>{{ data.name }}</h1>
      {% for author in book_author %}
          <h4>{{ author.author_id.first_name }} {{ author.author_id.last_name }}</h4>
      {% endfor %}
        <p class="detail-description">{{ data.description }}</p>
      {% for review in reviews %}
          <hr>
          <div class="row mt-5">
              <div class="col-2">
                  <img class="review-user-image" width="80" height="80" src="{{ review.user.profile_img.url }}" alt="review user image">
                  <p class="mt-2">{{ review.user.first_name }}</p>
              </div>
              <div class="col-9">
                  <p>{{ review.comment }}</p>
              </div>
          </div>
      {% endfor %}
  </div>
</div>

















{% endblock %}

