* {
    margin: 0 0;
}

/*book image*/
.book_image{width: 240px; height: 340px; border-radius: 0 15px 15px 0}
.books_list_image{width: 140px; height: 210px}


/*navigation bar*/
.navbar_item3 {
    background-color: #F4F1EA !important;
    margin-top: 0 !important;
    color: #3b2514;
    font-family: optima, sans-serif;
    position: fixed !important;
    width: 100%;
    z-index: 1;

}
.navbar-bottom{margin-top: 40px;}
.large-navbar-bottom{margin-top: 100px}

.goodreads_logo{width: 180px}

.navbar_m > li > a{ margin-left: 10px; color: #3b2514;}
.navbar_m > li > a:hover{ color: #9a9385;}



.nav_btn{background-color: #b9ad99; border: none}
.nav_btn:hover{background-color: #9a9385}

.nav_login:hover{color: #9a9385 !important}

/*end navigation bar*/

/*profile page*/

.review-user-image{width: 60px; height: 60px; border-radius: 50%}

/*detail page styles*/
.head-div {display: flex;flex-wrap: nowrap;overflow-x: auto;}
.fixed-image {flex: 0 0 auto;position: fixed;top: 90px;left: 90px;}

.detail_info{flex: 1 1 auto;overflow-y: auto;margin-left: 270px;margin-top: 83px;}
.detail_info > h1, .detail_info > h4{font-family: Copernicus,'Libre Baskerville',Georgia,serif;}

.reviews-user-img{border-radius: 50%}

.fixed-image > img {border-radius: 0 30px 30px 0}
.fixed-image > h3 {margin-top: 30px;}

.detail-description{margin-right: 200px}
/*end styles detali page*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
.profile-change-btn{background-color: #b9ad99; border: none}
.profile-change-btn:hover{background-color: #9a9385}

.padd{
    margin-top: 30px;
}
/*end profile page*/

/*form control*/
.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #b9ad99;
}

/*login page*/
.login_btn{width: 100%; background-color: #d0bb90; border: none}
.login_btn:hover{background-color: #d5cbab
}
.login_url{color: #393f81;}
.login_image{border-radius: 1rem 0 0 1rem; width: 100%; height: 550px;}
/*end login page*/




@media screen and (max-width: 992px){
    .col-6{width: 550px}
    .book_list_item{margin-left: 40px;}
}
