{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ user.profile_img.url }}" alt="Profile image" class="rounded-circle p-1 bg-secondary" width="110" height="110">
                            <div class="mt-3">
                                <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                                <p class="text-muted mb-1">@{{ user.username }}</p>
                                <p class="text-muted">{{ user.email }}</p>
                                <p class="text-muted">Joined: {{ user.date_joined | date:'M d, Y' }}</p>


                                <div class="mt-3">
                                    <a style="text-decoration: none" href="{% url 'friends:friends' %}"><button class="detail-post-button">{{ followers.count }} Followers</button>
                                    <button class="detail-post-button">{{ following.count }} Following</button></a>
                                </div>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                  Delete my account
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Account delete</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        ! Do you want to delete your account?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, take me back</button>
                                          <a href="{% url 'users:delete_profile' %}"><button type="button" class="btn btn-danger">Yes, I'm sure</button></a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{ user.first_name}}" placeholder="None" name="first_name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{ user.last_name}}" placeholder="None" name="last_name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{ user.username }}" name="username">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{ user.email }}" name="email">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Image</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="file" class="form-control" name="profile_img">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="submit" class="detail-post-button" value="Save Changes">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if followers %}
        <h3 class="mb-4 mt-4">Followers</h3>
        {% for follower in followers %}
            <div class="row mb-3">
                <div class="col-1">
                    <img src="{{ follower.requester.profile_img.url }}" width="80" height="100" alt="">
                </div>
                <div class="col-8">
                    <a href="{% url 'users:user-detail' follower.requester.id follower.requester.username %}">
                    <h5>{{ follower.requester.full_name }}</h5>
                    <p>@{{ follower.requester.username }}</p></a>
                    <p>{{ follower.requester.date_joined|date:'M d, Y' }}</p>
                </div>
            </div>
        {% endfor %}
        <hr>
    {% endif %}

    {% if following %}
        <h3 class="mb-4 mt-5">Following</h3>
        {% for follow in following %}
            <div class="row">
                <div class="col-1">
                    <img src="{{ follow.recipient.profile_img.url }}" width="80" height="100" alt="">
                </div>
                <div class="col-8">
                    <a href="{% url 'users:user-detail' follow.recipient.id follow.recipient.username %}">
                    <h5>{{ follow.recipient.full_name }}</h5>
                    <p>@{{ follow.recipient.username }}</p></a>
                    <p>{{ follow.recipient.date_joined|date:'M d, Y' }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/3a2eaf6206.js"></script>

{% endblock %}
